<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title></title>
</head>
<th> Enter new parameters of User</th>
<body>

<form th:method="PATCH" th:action="@{/users/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="name">name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="name">name: </label>
    <input type="text" th:field="*{lastName}" id="lastname"/>
    <br/>
    <label for="age">age: </label>
    <input type="text" th:field="*{age}" id="age"/>
    <br/>
    <input type="submit" value="Update!"/>
</form>

</body>
</html>